@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Special+Elite&display=swap');

/* reset  */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.4rem;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2c3238;
  margin: 0px;
}

button {
  cursor: pointer;
}

input:focus:not(:focus-visible),
audio:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* CSS font  */

.gg-list {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 20px;
  border: 2px solid;
  border-radius: 3px;
}

.gg-list::after,
.gg-list::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 2px;
  background: currentColor;
  top: 3px;
  left: 3px;
  box-shadow: 0 4px 0, 0 8px 0;
}

.gg-list::after {
  border-radius: 3px;
  width: 8px;
  left: 7px;
}

.gg-close-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 4px;
}

.gg-close-r::after,
.gg-close-r::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px;
}

.gg-close-r::after {
  transform: rotate(-45deg);
}

.gg-check-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 4px;
}

.gg-check-r::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

/* switch  */

.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background: #2dbe60;
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
  transform: scale(0.88);
  opacity: 0.3;
}
.switch::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 22px;
  height: 22px;
  background: #fafafa;
  border-radius: 50%;
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
}
input:checked + .switch {
  background: #2dbe60;
  opacity: 1;
}
input:checked + .switch::before {
  left: 27px;
  background: #fff;
}
input:checked + .switch:active::before {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}

/* tooltip  */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #2c3238;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 13px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 160px;
  bottom: 150%;
  left: 50%;
  margin-left: -80px;
}

/* MAIN  */

.academic {
  text-align: center;
  width: 1200px;
  max-width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto 5rem;
}

.academic__word {
  font-size: 10rem;
  color: #2dbe60;
  font-weight: 900;
  margin-top: 6rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #bdbdbd;
  display: inline-block;
}

@media (min-width: 1920px) {
  .academic__word {
    margin-top: 12rem;
  }
}

.academic__phonetics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0;
}

.academic__phonetics-item {
  padding: 0 1.5rem;
}

.academic__meanings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.academic__meanings-item {
  width: 50%;
  padding: 0 1.5rem;
  margin-bottom: 4rem;
}

.academic__meanings-definition {
  color: #2dbe60;
}

.academic__meanings-syn i {
  word-break: break-word;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

.academic__meanings-pos {
  display: inline-block;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 15px;
}

.academic__meanings-pos span {
  text-transform: capitalize;
}

.academic__sublist {
  position: relative;
}

.academic__sublist ul {
  position: absolute;
  z-index: 1000;
  padding: 15px;
  text-align: left;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  column-count: 4;
  column-gap: 10px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  border: 2px solid #2dbe60;
  border-radius: 5px;
}

.academic__sublist ul:after,
.academic__sublist ul:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.academic__sublist ul:after {
  border-bottom-color: #fff;
  border-width: 11px;
  margin-left: -11px;
}
.academic__sublist ul:before {
  border-bottom-color: #2dbe60;
  border-width: 14px;
  margin-left: -14px;
}

.academic__sublist.active ul {
  display: block;
}

.academic__sublist li {
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.academic__sublist li:hover {
  font-weight: 700;
}

.academic__sublist-title {
  padding-bottom: 18px;
  margin-bottom: 0;
}

.academic__sublist header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.academic__sublist-btn {
  border: none;
  padding: 0;
  margin-left: 15px;
  color: inherit;
  background: #fff;
}

.academic__sublist-btn.active .gg-list,
.academic__sublist-btn.active .tooltiptext--open,
.academic__sublist-btn .gg-close-r {
  display: none;
}

.academic__sublist-btn.active .gg-close-r {
  display: block;
}

.academic__sublist-checkbox {
  margin-right: 0.5rem;
  display: none;
}

.academic__sublist-checkbox ~ span {
  line-height: 22px;
  flex-grow: 1;
}

.academic__sublist-checkbox input[type='checkbox'] {
  display: none;
}

.academic__sublist-checkbox input[type='checkbox'] ~ .gg-check-r {
  transform: scale(var(--ggs, 0.7));
  border-width: 1px;
}
.academic__sublist-checkbox input[type='checkbox']:not(:checked) ~ .gg-check-r:after {
  display: none;
}

.academic__sublist-checkbox input[type='checkbox'] ~ .gg-check-r:after {
  left: 4px;
  top: 0px;
}

.academic__sublist.show-checkbox .academic__sublist-checkbox {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.academic__sublist-switch {
  margin-left: 1rem;
  display: none;
  position: absolute;
  top: 16px;
  right: 10%;
}

.academic__sublist-switch input[type='checkbox'] {
  width: 2.2rem;
  height: 2.2rem;
  display: none;
}

.academic__sublist-switch input[type='checkbox']:not(:checked) ~ .gg-check-r:after {
  display: none;
}

.academic__sublist.active .academic__sublist-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.academic__sublist.active .academic__sublist-switch strong {
  margin-right: 0.5rem;
}

.academic__sublist-reset {
  display: none;
  position: absolute;
  right: 27%;
  top: 17px;
  align-items: center;
  height: 22px;
  width: 22px;
}

.academic__sublist.active.show-checkbox .academic__sublist-reset {
  display: flex;
}

/* SETTINGS  */

.settings {
  width: 280px;
  padding: 15px;
}

.settings h1 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
}

.form-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group:not(:last-child) {
  margin-bottom: 2rem;
}

.form-group label {
  margin-right: 1rem;
}

.form-control {
  min-width: 100px;
  min-height: 30px;
}

.form-select {
  padding: 5px;
}

.form-group--action {
  justify-content: flex-end;
}

.form-group--action button {
  border: none;
  border-radius: 5px;
  height: 30px;
  min-width: 100px;
  color: #2c3238;
  border: 1px solid #bdbdbd;
  font-weight: 700;
}

.form-group--action button:hover {
  border: 1px solid #2c3238;
}

.btn-color-reset {
  width: 22px;
  height: 22px;
  border: none;
  background: transparent;
  position: absolute;
  top: 6px;
  right: 120px;
  padding: 0;
  color: #2dbe60;
}

.btn-color-reset .tooltiptext {
  width: 100px;
  margin-left: -50px;
}

.btn-color-reset svg {
  width: 100%;
  height: 100%;
}

/* styling dialog box */

.dialogBox {
  height: 150px;
  width: 500px;
  border: 2px solid #888;
  border-radius: 0.25em;
  box-sizing: border-box;
  border: 0.1em solid #bbb;
  background: #ecf0f1;
  box-shadow: 0 0 1em 0.1em #888;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.dialogBox::before {
  content: '';
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  background: transparent;
  z-index: -1;
}
.dialogBox {
  padding: 1em;
  font-size: 1.2em;
}
.dialogBox p {
  margin-bottom: 2.8rem;
}

.controls {
  display: flex;
  padding: 0 1rem;
  justify-content: flex-end;
}
.controls input {
  float: right;
  background: #27ae60;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.1em;
  font-size: 1em;
  cursor: pointer;
  min-width: 80px;
}
.controls input + input {
  margin-left: 1rem;
}
.controls input:first-child {
  background: #e74c3c;
}

.hideDialogbox {
  display: none;
}
.showDialogbox,
.showDialogWrap {
  display: block;
}


body.showModal {
  overflow: hidden;
}

body.showModal:after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  z-index: 9998;
}